@font-face {
    font-family: "TT Lakes";
    src: url("./font/TTLakes-Regular.woff") format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "TT Lakes";
    src: url("./font/TTLakes-Bold.woff") format(woff);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "TT Lakes";
    src: url("./font/TTLakes-DemiBold.woff") format(woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html{
    font-family: 'TT Lakes', sans-serif;
}

body{
    width: 320px;
    min-height: 750px;
    box-shadow: 16px 0px 52px 0px #0E185033,
    -2px 0px 4px 0px #454F7E05;
    color: #1B1C21;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* Хедер */
.header-left-menu{
    padding:20px;
}
.left-menu__buttons{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.left-menu__icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-repeat: no-repeat;
    transition-duration: 1s;
}

.left-menu__icon:hover{
    transform: scale(1.2);
}


.left-menu__buttons--cross{
    background-image: url(imeges/bacground/cross.png);
}
.logo-image{
    width: 97px;
    height: 51px;
}
.left-menu__buttons--search{
    background-image: url(imeges/bacground/search.png);
    margin-left: auto;
}

/* main */

.left-menu-navigator-list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px 0;   
}

.left-menu-navigator-list__link{
    color:#1B1C21;
    font-weight: 600;
    margin-left:20px; 
    display: flex;
    align-items: center; 
    transition-property: color ;
    transition-duration: 1s; 
    height: 45px;
}

.left-menu-navigator-list__link:hover,
.navigator-list--repair
  {
    color: #827e7e;
    font-weight: 400;
}

.left-menu-navigator-list__link:hover.left-menu-navigator-list__link::after,
.navigator-list--repair.left-menu-navigator-list__link::after {
    border: 2px solid #41F6D7; 
    background-color: #41F6D7;
}

.left-menu-navigator-list__link::after{
    content: "";
    border-radius: 0px 6px 6px 0px ;
    border: 2px solid transparent; 
    background-color: transparent;
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    transition-property: border, background-color ;
    transition-duration: 1s; 
}
    

/* футер */

  .footer-left-menu{
    display: flex;
    flex-direction: column;
    padding: 20px;
    /*margin-top: auto;*/
  }

.left-menu__buttons--call{
    background-image: url(imeges/bacground/call.png);
}

.left-menu__buttons--chat{
    background-image: url(imeges/bacground/chat.png);
}

.left-menu__buttons--profile{
    background-image: url(imeges/bacground/profile.png);
}


.footer-left-menu__mail{
    font-weight: 600;
    margin:10px 0;
}

.footer-left-menu__phone{
    font-size: 24px;
    font-weight: 900;
    margin:0 0 40px 0; 
}

.lang{
    display: flex;
    column-gap: 10px;
    
}

.lang--color{
    color: #1B1C21;
    font-weight: 600;
    transition-property: color;
    transition-duration: 1s;
}

.lang--color:hover,
.lang--color:nth-child(1){
    color: #7E7E82 ;
    font-weight: 400;
}





